body {
  font-family: sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  text-align: center; 
}

h1 {
  font-size: 32px;
  color: #d32f2f;
  margin-top: 20px; 
}

#calendar {
  display: grid;
  grid-template-columns: repeat(6, 120px);
  grid-gap: 10px;
  justify-content: center; 
  margin-top: 100px;
    }

    .door {
      width: 110px;
      height: 110px;
      margin: 10px;
      background-color: #d32f2f;
      color: white;
      font-size: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 40px;
      transition: background-color 0.3s;
    }
    .door.locked {
      background-color: #9e9e9e;
      cursor: not-allowed;
    }
    .door.open {
      background-color: #4caf50;
    }
    .door.today {
  border: 3px solid #ffeb3b; 
  box-shadow: 0 0 10px #ffeb3b;
}

